html,body{
    height: 100%;
    margin: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
div{
    background-color: orange;
    padding: 20px;
    border-radius: .5em;
}