
header{
    background: url("AdobeStock_24755998_Preview.jpeg"),top;  


    padding: 150px;
    border-top-left-radius:30px;
    border-top-right-radius:30px;
    border-bottom-left-radius:30px;
    border-bottom-right-radius:30px;
}


