 /* generic rules*/
 :root{
    box-sizing: border-box; 
 }
 *,::after,::before{
    box-sizing: inherit;
 }
 body{
    background-color: aquamarine;
    font-family: 'Times New Roman', Times, serif;

 }
 .container{
    max-width: 1000px;
    margin: 0 auto;
 }
 /*grid*/
 .container{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows:repeat(4,auto);
 }